

/************************************
GENERAL STYLING
************************************/



/* table design */

.dzs-table-header{
    margin-left:293px;
}

.dzs-table-header .header{
    width:75px;
    text-align:center;
    background:#333;
    padding:20px 0;
    display:inline-block;
    font-size:12px;
    border-right:1px solid #444;
    color: #fff;
}
.dzs-table-header .header:first-child{
    border-radius:5px 0 0 0;
}
.dzs-table-header .header:last-child{
    border-radius:0 5px 0 0;
    border-right:0;
}


table.dzs-table	{
    background: #eee;

    font-family: Verdana,Helvetica,sans-serif;
    color: #555;
    font-size: 14px;

    margin-bottom:20px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px #fff;

    width:100%;
}
table.dzs-table	tr{
    text-align: center;
    background: -moz-linear-gradient(center top , #FBFBFB, #FAFAFA) repeat scroll 0 0 transparent;
}

table.dzs-table	tr:nth-child(even) {
    background: #f9f4f4; /* Old browsers */
    background: -moz-linear-gradient(top, #f9f4f4 0%, #eaeaea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f4f4), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f4f4 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f4f4 0%,#eaeaea 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f9f4f4 0%,#eaeaea 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F4F4', endColorstr='#EAEAEA',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #f9f4f4 0%,#eaeaea 100%); /* W3C */
}

table.dzs-table	tr td{

    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
table.dzs-table	tr td:first-child{
    width:250px;
}
.ok{
    width:30px;
    height:14px;
    background:url('../styleimg/okiconsmall.png') no-repeat center center;
}
.notok{
    width:30px;
    height:14px;
    background:url('../styleimg/xiconsmall.png') no-repeat center center;
}

.code {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DDDDDD;
    font-size: 11px;
    margin: 10px;
    padding: 10px;
}
.code p {
    margin: 0;
}
.install-img{
    margin: 10px 0;
    border: 1px solid rgba(0,0,0,0.2);
}

.features-demi-table{
    position:relative;
    display:block;
    margin-bottom:15px;
}
.features-demi-table .ze-title{
    border-bottom:1px dotted rgba(0,0,0,0.3);
    font-size:1.2em;
    line-height:2.5em;
}
.features-demi-table .ze-label{
    margin-top:5px;
    float:left;
    width:20%;
    font-weight:bold;
}
.features-demi-table .ze-desc{
    margin-top:5px;
    float:left;
    width:80%;
}
.features-demi-table .ze-desc p{
    margin:0;
}



.con-inline {
    background: #fff;
    color: #222;
    position: relative;
    left: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); }

.con-inline h3 {
    color: #333;
}
.con-inline .span6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 5px; }

.full-btn-hero {
    width: 100%;
    display: block;
    border: 0;
    background: #fff;
    color: #c46060;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2); }

.bigfeature {
    text-align: center; }

a{
    color: rgba(174,25,25,1);
}

.bigfeature i {
    color: #eed3d7;
    display: inline-block;
    font-size: 24px;
    padding: 35px 35px;
    background-color: rgba(174,25,25,1);
    border-radius: 50% 50%;
    cursor: default;
    transform-origin: center center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    -moz-transition-property: all;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-property: all;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease-in;
    -ms-transition-property: all;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-in; }

.bigfeature:hover i {
    transform: scale(0.9);
    -webkit-transform: scale(0.9); }



.example-feat{
    opacity: 0.7;
    transition-property: left, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    -moz-transition-property: left, opacity;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-property: left, opacity;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-property: left, opacity;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease-out;
    -ms-transition-property: left, opacity;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-out;
}
.example-feat.active, .example-feat:hover{
    opacity: 1;
}
.example-feat img{
    display: block;
    border: 1px solid rgba(0,0,0,0.9);
}


/* ie8 fixes */

.relative{
    position:relative;
    height:300px;
}



.wf31{
    margin-left:1%;
    margin-right: 1%;
    width: 31%;
    float:left;
}

.mt25{
    margin-top: 35px;
}
.mb25{
    margin-bottom: 35px;
}


.border-box{
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.feat-image{
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
}

.dzs-button{
    display: inline-block;

}
.dzs-button.skin-emerald{
    border: 1px solid rgba(174,25,25,1);
    color: inherit;
    padding: 10px 15px;
    color: rgba(174,25,25,1);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.dzs-button.skin-emerald:hover{
    background: rgba(174,25,25,1);
    color: #fff;
    text-decoration:none;
}





.button-switcher{
    opacity:0.7;


    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    -moz-transition-property: all;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-property: all;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease-in;
    -ms-transition-property: all;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-in;
}


.button-switcher.active, .button-switcher:hover{
    opacity:1;
}

/*
===== pattern styles

*/
.pat-bg{
    position: absolute;
    top:0; left:0; width: 100%; height: 100%;
    z-index: 0;
    background-image: url('img/pat.png');
    background-attachment: fixed;

}
.pat-bg .pat-bg-inner{
    position: absolute;
    top:0; left:0; width: 100%; height: 100%;
    z-index: 0;


    background: -moz-linear-gradient(top,  rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.04)), color-stop(100%,rgba(255,255,255,0.1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.04) 0%,rgba(255,255,255,0.1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.04) 0%,rgba(255,255,255,0.1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.04) 0%,rgba(255,255,255,0.1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.04) 0%,rgba(255,255,255,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0affffff', endColorstr='#1affffff',GradientType=0 );


}


/* ====specific styling */
.hero-box {
    position: relative;
    background: #fafafa url(img/pat.png);
    background-attachment: fixed;
    height: 125px;
    border: 1px dashed rgba(255, 255, 255, 0.8);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
